---
import Layout from "@layouts/Layout.astro";
import { categories } from "@src/scripts/categories";

type TCategory = keyof typeof categories;
const types = Object.keys(categories) as TCategory[] 

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "ru" } }];
}
---

<Layout title="Elena Kustova - Portfolio - Work">
  <div class="flex">
  {
  types.map((category) => (
    <label class="w-1/3 text-center text-lg font-serif" for={`${category}-radio`}> {category} </label> 
  ))}
    </div>
    {
    types.map((category, i) => (
      <section>
        <input class="hidden" type="radio" name="selected-category" id={`${category}-radio`} value={category} checked={i === 0}/>
        <div class="-gallery-category text-center">
          <div class="py-4" />
          {categories[category].titles.map((title: string) => {
            const url = categories[category].projects.get(title)[0]
            return (
              <div class="img-wrap w-fit mx-auto my-4 rounded-lg overflow-hidden" id={`work-${title}`}>
                <img
                  src={url}
                  width={500}
                  height={650}
                  alt=""
                  loading="lazy"
                />
              </div>
            )
          })}
        </div>
      </section>    ))
    }
</Layout>
<script> </script>
<style lang="scss">
.-gallery-category {
  display: none;
}
input[type=radio]:checked {
  & + .-gallery-category {
    display: block;
  }
}
.picture-wrap {
  flex-basis: 25%;
}
</style>
