---
import Layout from "@layouts/Layout.astro";
import { categories } from "@src/scripts/categories";

type TCategory = keyof typeof categories;
const types = Object.keys(categories) as TCategory[] 

export function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "ru" } }];
}
---

<Layout title="Elena Kustova - Portfolio - Work">
  <main x-data="{ selCategory: 'love' }" }>
    <div>
      <div class="-category-button flex justify-between">
        {
          types.map((cat) => (
            <button @click={`selCategory = '${cat}'`}>{cat}</button>
          ))
        }
      </div>
    </div>
    {
      types.map((category) => (
        <div class="text-center invisible" :class={`{ invisible: selCategory != '${category}' }`} x-show={`selCategory == '${category}'`} >
          <div class="py-4" />
          {categories[category].titles.map((title: string) => {
            const src= categories[category].projects.get(title)[0];
            return (
              <div>
                <h3>{title}</h3>
                <img src={src} alt={title} />
              </div>
            )})}
        </div>
      ))
      }
  </main>
</Layout>

<style lang="scss">
  .-category-button {
    button {
      width: 33%;
    }
  }

  .picture-wrap {
    flex-basis: 25%;
  }
</style>
